{{yield}}
<div class="question-entry">
  <h3>{{question.ask}}</h3>
  <p class="author">{{question.author}} asks:</p>
  <p class="notes">{{question.notes}}</p><br>
</div>
<div class="answer-entry">
  {{#each question.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</div>
<button class="btn btn-danger" {{action 'delete' blog}}>Delete question</button>
